.menu {
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.menu ul {
    width: 100%;
    display: inline-block;
    font-size: 0;
    text-align: center;
    color: var(--font-color);
    background-color: var(--button-color);
    border: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 999999990;
    border-radius: 3px;
}

.menu li {
    display: inline-block;
    position: relative;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.menu>ul>li>span,
.menu>ul>li>a {
    font-size: 22px;
    color: inherit;
    text-decoration: none;
    padding: 20px 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    transition: all 0.3s;
}

.menu li:hover>span,
.menu li:hover>a {
    color: var(--font-highlight-color);
    background-color: var(--highlight-color);
}