.two-columns {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    padding: 0 1rem 0 1rem;
    overflow: hidden;
    position: relative;
}

.textWrapper h2 {
    font-size: 2rem;
    text-align: center;
}

.textWrapper h3 {
   font-size: 1rem;
}

.textWrapper p {
    font-size: 1rem;
    font-weight: bold;
}

.func {
    margin: 0 10px 0 0;
}